<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;700&display=swap" rel="stylesheet">
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon-32x32.png"
    />
    <link rel="stylesheet" href="/style.css" /> 

    
    <% if(typeof cssFile !== 'undefined'){ %>
        <link rel="stylesheet" href="<%= cssFile %>">
        <% } %>

    <title>Frontend Mentor | Space tourism website</title>
  </head>
  <body>
    <nav class="nav">
        <div class="navbar">
          <div class="navbar__logo">
            <img src="../starter-code/assets/shared/logo.svg" alt="" />
          </div>
          <div class="navbar__title">
            <a class="slide-link" href="/">
            <span>Home</span>  
            <span>Home</span>
            </a>
            <a class="slide-link" href="/destination">
              <span>Destination</span>  
              <span>Destination</span>
              </a>
              <a class="slide-link" href="/crew">
                <span>Crew</span>  
                <span>Crew</span>
                </a>
                <a class="slide-link" href="/technology">
                  <span>Technology</span>  
                  <span>Technology</span>
                  </a>
          </div>
        </div>
      </nav>


